# Python Data Science 101

In [11]:
import pandas as pd
import numpy as np

## 1. Basic Data Structures

### a. Series

In [12]:
# Create a series
obj = pd.Series([4, 7, -5, 3])

In [13]:
# Print values of a series
obj.values

array([ 4,  7, -5,  3], dtype=int64)

In [14]:
# Print index of a series
obj.index

RangeIndex(start=0, stop=4, step=1)

In [15]:
# Create a series with defined index
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [16]:
# Print a index of defined indexed series (obj2)
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [17]:
# filtering numpy array
obj2[obj2 > 0]

d    4
b    7
c    3
dtype: int64

In [18]:
# apply scalar operation (e.g multiplication)
obj2 * 2

d     8
b    14
a   -10
c     6
dtype: int64

In [19]:
# apply math functions
np.exp(obj2)

d      54.598150
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [23]:
# Check index exist
print('a' in obj2)
print('e' in obj2)

True
False

In [24]:
# Dict to Series
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3 = pd.Series(sdata)
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [26]:
# Assign (check) index on Series
states = ['California', 'Ohio', 'Oregon', 'Texas'] 
obj4 = pd.Series(sdata, index=states)
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [27]:
# Null check
print(pd.isnull(obj4))
print(pd.notnull(obj4))
print(obj4.isnull())

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool
California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool
California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [33]:
# Series math operation
print(obj3, end='\r\n\r\n')
print(obj4, end='\r\n\r\n')
print(obj3 + obj4, end='\r\n\r\n')

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

In [34]:
# Changing data with spesific index
obj4.name = 'population'
obj4.index.name = 'state'
print(obj4)

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

In [35]:
# Change indexs
obj.index = ['Bob', 'Steve', 'Jeff', 'Ryan']
obj

Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64